* {
  padding: 0px;
}
.learn-container {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  min-height: 100vh;
  grid-gap: 32px;
  .learn-left-side {
    // max-height: 100vh;
    // overflow: auto;
    background-color: #fff;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.05);
    padding: 23px 23px;
    .community-corner-links {
      li {
        list-style: none;
      }
    }
    .tentang-aplikasi-desc {
      margin-top: 7px;
      font-size: 13px;
      color: #343a40;
    }
  }
  .learn-content {
    padding-top: 23px;
  }
  .learn-right-side {
    background-color: #fff;
    padding: 23px 23px;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.05);
  }
}

.heading-2 {
  font-weight: 600;
  font-size: 20px;
  color: #343a40;
}
